In [17]:
import pandas as pd
csv_file= './data/4_data_e.csv'
metadata_file='./data/4_metadata_e.json'

df=pd.read_csv(csv_file, header=None)
df.columns=['subjectLabel','predicateLabel','objectLabel']
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829669 entries, 0 to 829668
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   subjectLabel    829668 non-null  object
 1   predicateLabel  829669 non-null  object
 2   objectLabel     829669 non-null  object
dtypes: object(3)
memory usage: 19.0+ MB

,subjectLabel,predicateLabel,objectLabel
0,Mohs' hardness,instance of,Wikidata property related to mineralogy
1,Mohs' hardness,related property,hardness
2,Mohs' hardness,Wikidata item of this property,Mohs scale of mineral hardness
3,Mohs' hardness,Wikidata property example,diamond
4,Mohs' hardness,Wikidata property example,quartz

In [19]:
df_pivot = pd.pivot_table(
    df.reset_index(),
    # columns=['col1'],
    index=['predicateLabel'],
    values=['index'], 
    aggfunc={
        'index': ["count"],
    },
    fill_value=0
)
df_pivot.columns = ['_'.join(col).strip() for col in df_pivot.columns.values]
df_pivot.sort_values('index_count',ascending=False).head(20)

                          index_count
predicateLabel
country                        149159
main subject                   111438
occupation                     101291
instance of                     87574
country of citizenship          87075
made from material              45561
color                           19283
field of work                   15837
country of origin               15443
category combines topics        14462
expressed in                    12505
genre                           11994
country for sport               11542
subclass of                     11156
has part(s)                     10829
depicts                         10536
place of birth                   9918
religion or worldview            9431
IMA status and/or rank           6444
crystal system                   5887

In [20]:
values_to_drop = {
    'main subject',
    'category combines topics',
    'expressed in',
}
df2 = df[~df['predicateLabel'].isin(values_to_drop)]
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
Index: 691264 entries, 0 to 829668
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   subjectLabel    691263 non-null  object
 1   predicateLabel  691264 non-null  object
 2   objectLabel     691264 non-null  object
dtypes: object(3)
memory usage: 21.1+ MB

,subjectLabel,predicateLabel,objectLabel
0,Mohs' hardness,instance of,Wikidata property related to mineralogy
1,Mohs' hardness,related property,hardness
2,Mohs' hardness,Wikidata item of this property,Mohs scale of mineral hardness
3,Mohs' hardness,Wikidata property example,diamond
4,Mohs' hardness,Wikidata property example,quartz

In [21]:
df3 = df2[['subjectLabel','objectLabel']].melt()[['value']].drop_duplicates()
df3.columns = ['wiki_id']
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
Index: 548198 entries, 0 to 1382511
Data columns (total 1 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   wiki_id  548197 non-null  object
dtypes: object(1)
memory usage: 8.4+ MB

                                         wiki_id
0                                 Mohs' hardness
14                                       mineral
15                                      hardness
16  Category:Pages using Wikidata property P1088
17                               mineral species

In [23]:
df3.to_csv('./data/41_e.csv')